@model IEnumerable<AdidatcuongMVC.Models.OrderInCart>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderDetail.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderDetail.Quantity)
            </td>
        </tr>
}
    <center>
        <button type="button class="orderBtn" name="confirmOrderBtn">CONFIRM ORDER</button>
    </center>
    </tbody>
</table>
